.c{
    height: 100vh;
    scroll-snap-align: center;
   
}
.c-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.c-left{
flex:1;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.c-title{
font-weight: 200;
}
.c-form{
display: flex;
flex-direction: column;
gap:20px;
width: 500px;
}
.c-name{
padding: 20px;
}
.c-mail{
    padding: 20px;
}
.c-mess{
    padding: 20px;
}
.c-butt{
padding: 20px;
background-color:rgba(226, 31, 161, 0.795) ;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}
.c-right{
flex: 1;
}