.h{
    height: 100vh;
    scroll-snap-align: center;
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
}
.h-wrapper{
height: 100vh;
scroll-snap-align: center;
width: 100%;
display: flex;
justify-content: space-between;
}
.h-left{
flex: 2; 
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
}
.h-title{
font-size: 74px;
}
.h-div{
   display: flex;
   flex-direction: column;
   gap: 0; 
   justify-content: space-between;
}
.h-abt{
color:#c310d3;
font-size: 40px;
}
.h-desc{
font-size: 20px;
color: lightgrey;
}
.h-butt{
background-color:hsl(295, 88%, 53%);
color: white;
font-weight: 500;
width: 100px;
height: 50px;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
}
.h-right{
flex: 3;
display: flex;
align-items: center;
position: relative;
}
.h-img{
width:  600px;
height:  400px;
object-fit: contain;
position: absolute;
right: 0;
top: 0;
left: 0;
bottom: 0;
margin: auto;
animation: move 5s infinite ease alternate;

@keyframes move {
    to{
        transform:translateY(30px);
    }
}
}