.a{
    height: 100%;
    color: white;
    background:url("../src/photos/background.jpg");
    background-position: 'center';
    background-size:contain;
    background-repeat:none;
  
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: auto;
    scrollbar-width: none;

      
    &::-webkit-scrollbar{
        display: none;
    }
}